<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../css/app.css" type="text/css">

    <script src="../js/lib/vue/vue.js" type="text/javascript"></script>

    <title>숫자야구</title>
</head>
<body>
    <div id="root">
        <word-relay start-word="초밥"></word-relay>
        <word-relay start-word="화재"></word-relay>
        <word-relay start-word="경동보일러"></word-relay>
    </div>
    <!-- script 여러개일 때 webpack -->
    <script>
        // kebab-case or PascalCase , camelCase
        Vue.component('word-relay', { // 전역 컴포넌트
            // ` 백틱
            template: `
                <div>
                    <div>{{word}}</div>
                    <form v-on:submit="onClick">
                        <input type="text" v-model="text" ref="answer">
                        <button type="submit">입력!</button>
                    </form>
                    <div>{{result}}</div>
                </div>
            `,
            // html kebab, js camelCase
            props: ['startWord'],
            data() {
                return {
                    word: this.startWord,
                    text: '',
                    result: undefined
                };
            },
            methods: {
                onClick: function (e)
                {
                    e.preventDefault();
                    if (this.word[this.word.length - 1] === this.text[0])
                    {
                        this.word = this.text;
                        this.text = '';
                        this.result = '딩동댕';
                        this.$refs.answer.focus();
                    }
                    else
                    {
                        this.text = '';
                        this.result = '땡';
                        this.$refs.answer.focus();
                    }
                }
            }
        })
    </script>
    <script type="text/javascript">
        // vue 인스턴스
        var app = new Vue({
            el: '#root',
        });
    </script>
</body>
</html>